.container-alert {
    max-height: 200;
    display: block;
    overflow-y: scroll;
    padding: 5px;
    margin-bottom: 20px;
}

select[readonly] {
    background: #eee !important;
    pointer-events: none !important;
    touch-action: none !important;
}
